* {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    color: rgb(6, 116, 48);
    font-family: 'Roboto', sans-serif;/*Importante el Sans-Serif al final, permite que el sitio sea leído en culquier tipografía sans.serif en caso de no estar disponibles las 2 definidas anteriormente*/
    font-size: 50px;
    font-weight: bolder;
    line-height: 58px;
    text-align: center;
    text-transform: inherit;
}

.encabezado{
    background-attachment: scroll; /* Comportamiento del background al hacer scroll */
    background-image: url(http://netlima.com/casas/negocios/starbuckslogo.png);
    background-repeat:no-repeat;
    background-position: left bottom;
    /* background-size: cover; Nos sirve para acomodar el tamaño de la imagen dentro del contenedor*/
    text-align: center;
}

#enlaceTop{
    font-size: 12px;
    line-height: 30px; /*Se recomienda que sea 8px mayor que el font-size*/
}

p.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h4 em {
    color: red;
}

/*  Papi, infromación importante, el manejo de los links se debe dar siempre LVHA, de la siguiente manera:
- :link | Representa un elemento que aún no se ha visitado
- :visited | Representa un enlace ya visitado
- :hover | Lo que pasa mientras el usuario tiene el mouse encima del link
- :active | Lo que pasa cuando el usario le da clic al enlace, entiendace como clic la duración entre que se presiona el boton izquierdo del mouse y se suelta  */

/* p:empty{
    background-color: teal;
} De esta menra se cambia un atributo de una etiqueta vacía */

header>a:link{
    color: #166916;
}

header>a:visited{
    color: #b025ab;
}

header>a:hover{
    background-color: rgb(6, 116, 48);
    color: white;
}

header>a:active{
    background-color: turquoise;
    color: violet;
}

/*Fist-child last-child :first-of-type*/

/* ol:first-child{
    font-weight: bold;
    color: teal;
} Activar para ver */

li:first-child{
    font-weight: bold;
    color: teal;
}

