* {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    color: rgb(6, 116, 48);
    font-family: 'Roboto', sans-serif;/*Importante el Sans-Serif al final, permite que el sitio sea leído en culquier tipografía sans.serif en caso de no estar disponibles las 2 definidas anteriormente*/
    font-size: 50px;
    font-weight: bolder;
    line-height: 58px;
    text-align: center;
    text-transform: inherit;
}

.encabezado{
    background-attachment: scroll; /* Comportamiento del background al hacer scroll */
    background-image: url(http://netlima.com/casas/negocios/starbuckslogo.png);
    background-repeat:no-repeat;
    background-position: left bottom;
    /* background-size: cover; Nos sirve para acomodar el tamaño de la imagen dentro del contenedor*/
    text-align: center;
}

#enlaceTop{
    font-size: 12px;
    line-height: 30px; /*Se recomienda que sea 8px mayor que el font-size*/
}

p.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h4 em {
    color: red;
}

header>a:hover{
    color: white;
    background-color: rgba(6, 116, 48);
}
/* Visited para darle estilo a enlaces ya visitados por el usuario
header>a:visited{
    color: crimson;
} */