<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view1</title>
</head>
<body>
    <h1>Es Martes</h1>
    <p align="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum deleniti minima nulla beatae cumque facere neque dolores debitis voluptatem cupiditate, dolor sint esse aperiam? Sed nostrum consectetur eligendi alias dolorum.</p>
    <span>Este mensaje se ve</span>
    <span>Este texto se ve, pero se ve abajo</span>
</body>
</html> <!--Cierre del HTML-->